.wrapperQB{
    width: 100%;
    min-height: 150px;
    height: auto;
    box-sizing: border-box;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    //border: 1px solid red;
    &__HTMLblock,
    &__CSSblock,
    &__JSblock,
    &__AccessibilityBlock{
        width: 400px;
        min-height: 150px;
        &_counter{
            color: #ffffff98;
            font-size: 25px;
            font-style: italic;
            margin-bottom: 50px;
        }
        &_question{
            color: white;
            font-size: 30px;
            font-weight: bold;
        }
    }
}

.helloBlock{
    width: 665px;
    min-height: 300px;
    //border: 1px solid green;
    &__firstLineTitleDark{
        font-size: 90px;
        color: white;
    }
    &__secondLineTitleDark,
    &__secondLineTitleLight{
        font-size: 90px;
        color: white;
        font-weight: bold;
        margin-bottom: 50px;
    }
    &__thirdLineTitleDark,
    &__thirdLineTitleLight{
        color: white;
        font-size: 30px;
        font-style: italic;
        text-decoration: underline;
        text-underline-offset: 10px;
    }
    &__firstLineTitleLight{
        font-size: 90px;
        color: #3c4d67;
    }
    &__secondLineTitleLight{
        color: #3c4d67;
    }
    &__thirdLineTitleLight{
        color: #3c4d67;
    }
}

@media(max-width:1440px){
    .helloBlock{
        width: 440px;
        &__firstLineTitleDark,
        &__firstLineTitleLight,
        &__secondLineTitleDark,
        &__secondLineTitleLight{
            font-size: 60px;
        }
        &__thirdLineTitleDark,
        &__thirdLineTitleLight{
            font-size: 25px;
        }
    }
}

@media(max-width:1024px){
    .wrapperQB{
        &__HTMLblock{
            width: 95%;
                &_counter{
                    color: #ffffff98;
                    font-size: 25px;
                    font-style: italic;
                    margin-bottom: 50px;
                }
                &_question{
                    color: white;
                    font-size: 30px;
                    font-weight: bold;
                }
            }
    }
    
    .helloBlock{
        width: 95%;
        &__firstLineTitleDark,
        &__firstLineTitleLight,
        &__secondLineTitleDark,
        &__secondLineTitleLight{
            font-size: 70px;
        }
        &__thirdLineTitleDark,
        &__thirdLineTitleLight{
            font-size: 30px;
        }
    }
}

@media(max-width:555px){
    .helloBlock{
        &__firstLineTitleDark,
        &__firstLineTitleLight,
        &__secondLineTitleDark,
        &__secondLineTitleLight{
            font-size: 50px;
        }
        &__thirdLineTitleDark,
        &__thirdLineTitleLight{
            font-size: 30px;
        }
    }
}

@media(max-width:425px){
    .wrapperQB{
        min-height: 200px;
    }
    .helloBlock{
        min-height: 200px;
        &__firstLineTitleDark,
        &__firstLineTitleLight,
        &__secondLineTitleDark,
        &__secondLineTitleLight{
            font-size: 40px;
        }
        &__thirdLineTitleDark,
        &__thirdLineTitleLight{
            font-size: 20px;
        }
    }
}