.wrapperQB {
  width: 100%;
  min-height: 150px;
  height: auto;
  box-sizing: border-box;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.wrapperQB__HTMLblock, .wrapperQB__CSSblock, .wrapperQB__JSblock, .wrapperQB__AccessibilityBlock {
  width: 400px;
  min-height: 150px;
}
.wrapperQB__HTMLblock_counter, .wrapperQB__CSSblock_counter, .wrapperQB__JSblock_counter, .wrapperQB__AccessibilityBlock_counter {
  color: rgba(255, 255, 255, 0.5960784314);
  font-size: 25px;
  font-style: italic;
  margin-bottom: 50px;
}
.wrapperQB__HTMLblock_question, .wrapperQB__CSSblock_question, .wrapperQB__JSblock_question, .wrapperQB__AccessibilityBlock_question {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.wrapperQB__result {
  width: 100%;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  gap: 30px;
  text-align: center;
}

.minFor,
.avarage,
.maxEight {
  font-size: 30px;
  font-weight: bold;
  gap: 30px;
}

.minFor {
  color: red;
}

.avarage {
  color: yellow;
}

.maxEight {
  color: yellowgreen;
}

.tryAgain {
  width: 300px;
  height: 70px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.tryAgain:hover {
  transform: scale(1.05);
  transition: 0.1s;
}
.tryAgain:active {
  transform: scale(0.9);
  transition: 0.1s;
}

.helloBlock {
  width: 665px;
  min-height: 300px;
}
.helloBlock__firstLineTitleDark {
  font-size: 90px;
  color: white;
}
.helloBlock__secondLineTitleDark, .helloBlock__secondLineTitleLight {
  font-size: 90px;
  color: white;
  font-weight: bold;
  margin-bottom: 50px;
}
.helloBlock__thirdLineTitleDark, .helloBlock__thirdLineTitleLight {
  color: white;
  font-size: 30px;
  font-style: italic;
  text-decoration: underline;
  text-underline-offset: 10px;
}
.helloBlock__firstLineTitleLight {
  font-size: 90px;
  color: #3c4d67;
}
.helloBlock__secondLineTitleLight {
  color: #3c4d67;
}
.helloBlock__thirdLineTitleLight {
  color: #3c4d67;
}

@media (max-width: 1440px) {
  .helloBlock {
    width: 440px;
  }
  .helloBlock__firstLineTitleDark, .helloBlock__firstLineTitleLight, .helloBlock__secondLineTitleDark, .helloBlock__secondLineTitleLight {
    font-size: 60px;
  }
  .helloBlock__thirdLineTitleDark, .helloBlock__thirdLineTitleLight {
    font-size: 25px;
  }
}
@media (max-width: 1024px) {
  .wrapperQB__HTMLblock {
    width: 95%;
  }
  .wrapperQB__HTMLblock_counter {
    color: rgba(255, 255, 255, 0.5960784314);
    font-size: 25px;
    font-style: italic;
    margin-bottom: 50px;
  }
  .wrapperQB__HTMLblock_question {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  .wrapperQB__result {
    height: 200px;
  }
  .helloBlock {
    width: 95%;
  }
  .helloBlock__firstLineTitleDark, .helloBlock__firstLineTitleLight, .helloBlock__secondLineTitleDark, .helloBlock__secondLineTitleLight {
    font-size: 70px;
  }
  .helloBlock__thirdLineTitleDark, .helloBlock__thirdLineTitleLight {
    font-size: 30px;
  }
}
@media (max-width: 555px) {
  .helloBlock__firstLineTitleDark, .helloBlock__firstLineTitleLight, .helloBlock__secondLineTitleDark, .helloBlock__secondLineTitleLight {
    font-size: 50px;
  }
  .helloBlock__thirdLineTitleDark, .helloBlock__thirdLineTitleLight {
    font-size: 30px;
  }
}
@media (max-width: 425px) {
  .wrapperQB {
    min-height: 200px;
  }
  .wrapperQB__result {
    font-size: 25x;
  }
  .helloBlock {
    min-height: 200px;
  }
  .helloBlock__firstLineTitleDark, .helloBlock__firstLineTitleLight, .helloBlock__secondLineTitleDark, .helloBlock__secondLineTitleLight {
    font-size: 40px;
  }
  .helloBlock__thirdLineTitleDark, .helloBlock__thirdLineTitleLight {
    font-size: 20px;
  }
  .minFor,
  .avarage,
  .maxEight {
    font-size: 25px;
  }
}/*# sourceMappingURL=QuestionBlock.css.map */